$primary-color: #ffff;
$secondary-color: #f0f0f0;
$heading-color: #1386ec;
$search-bar-color: #03c8fc;
$category-color: #5e5d5f;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI";
  background-color: $secondary-color;

  input {
    outline: none;
    border: none;
    font-size: 15px;
  }

  i {
    padding: 15px 15px 15px 15px;
  }

  ul {
    list-style-type: none;
  }

  .navigation-bar {
    height: auto;
    background-color: $heading-color;

    i , span {
      color: $primary-color;
    }

    .search-bar {
      display: inline-block;
      background-color: $search-bar-color;
      margin-left: 30%;
      width: 25%;

      .search-icon {
        color: $heading-color;
        padding: 5px;
      }

      input {
        background-color: $search-bar-color;
      }
    }

    .setting-icon {
      margin-left: 27%;
    }

    span {
      font-size: 20px;
    }
  }

  i {
    color: $category-color;
  }

  ul {
    li {
      color: $category-color;
    }
  }

  .left-container {
    display: inline-block;
    vertical-align: top;
    background-color: $secondary-color;
    height: auto;
    width: 17%;
    overflow-y: auto;
    overflow-x: hidden;

    i {
      width: 20px;
    }

    ul {
      li {
        &:hover {
          background-color: $primary-color;
          cursor: pointer;
        }
      }
    }

    .custom-categories {
      input {
        background-color: $secondary-color;
      }
    }
  }

  input[type="checkbox"] {
    &:checked {
      + {
        span {
          text-decoration: line-through;
        }
      }
    }

    margin: 15px 15px 15px 15px;
  }

  .middle-container {
    display: inline-block;
    vertical-align: top;
    height: 680px;
    width: 80.5%;
    background-color: $primary-color;
    padding: 15px 15px 15px 15px;
    overflow-y: auto;
    overflow-x: hidden;

    .category-name {
      padding: 15px;
      display: block;
    }

    ul {
      li {
        border-bottom: 1px solid;

        &:hover {
          background-color: $secondary-color;
          cursor: pointer;
        }

        span {
          display: inline-block;
          width: 90%;
          padding: 10px;
        }
      }
    }
  }

  .shrunk-middle-container {
    width: 61.5%;
  }

  .right-container {
    display: inline-block;
    vertical-align: top;
    background-color: $secondary-color;
    display: none;
    width: 17%;
    padding: 15px 15px 15px 15px;
    overflow-y: auto;
    overflow-x: hidden;

    .sub-tasks {
      background-color: $primary-color;

      .sub-tasks-heading {
        input {
          padding: 0px 15px 0px 0px;
        }
  
        .task-name {
          width: 60%;
          display: inline-block;
        }
      }
    }

    ul {
      li {
        hr {
          width: 80%;
          margin-left: 40px;
        }
      }
    }

    .extra-sub-tasks {
      margin-top: 20px;

      span {
        color: $category-color;
      }

      i {
        width: 20px;
      }

      .extra-sub-task {
        display: block;
        background-color: $primary-color;
        margin-top: 15px;
      }

      .reminder {
        margin-top: 15px;

        hr {
          width: 80%;
          margin-left: 50px;
        }

        span {
          display: block;
          background-color: $primary-color;
        }
      }

      textarea {
        margin-top: 15px;
      }
    }
  }

  .expanded-right-container {
    display: inline-block;
  }
}
