@font-face {
  src: url(../fonts/Rubik-VariableFont_wght.ttf);
  font-family: rubik;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 200%;
  line-height: 50px;
  font-family: rubik;
}

body .header {
  width: 27%;
  height: 130px;
  background-color: #179498;
  color: #ffff;
  margin: 0px 0px 30px 20px;
  padding-left: 20px;
}

body .header h2 {
  padding-top: 60px;
}

body .name {
  color: #676767;
  margin-left: 30px;
}

body .designation {
  color: #a5a5a5;
  margin-left: 30px;
}

body .container {
  margin: 30px 0px 80px 0px;
}

body .container .personal-information {
  display: inline-block;
  background-color: #179498;
  margin-left: 20px;
  width: 25%;
  padding: 40px 30px 50px 20px;
}

body .container .personal-information .personal-information-title {
  border-bottom-style: solid;
  border-bottom-width: 5px;
  color: #ffff;
}

body .container .personal-information .personal-information-details {
  margin: 40px 0px 40px 20px;
}

body .container .personal-information .label {
  color: #ffff;
  margin-top: 30px;
}

body .container .personal-information .value {
  color: #78c4d4;
}

body .container .career-information {
  display: inline-block;
  vertical-align: top;
  padding: 40px 0px 0px 40px;
  width: 60%;
}

body .container .career-information .career-information-title {
  border-bottom-style: solid;
  border-bottom-width: 5px;
  color: #179498;
  width: 100%;
}

body .container .career-information .career-information-details {
  margin: 40px 0px 0px 20px;
}

body .container .career-information .career-information-details .skills-title {
  color: #676767;
}

body .container .career-information .career-information-details .print-list {
  vertical-align: top;
  display: inline-block;
  width: 49%;
}

body .container .career-information .career-information-details .print-list .skills-list {
  margin-left: 35px;
}

body .container .career-information .career-information-details .web-and-multimedia-list {
  vertical-align: top;
  display: inline-block;
  width: 49%;
}

body .container .career-information .career-information-details .web-and-multimedia-list .skills-list {
  margin-left: 35px;
}

body .container .career-information .duration {
  vertical-align: top;
  display: inline-block;
  color: #676767;
  width: 25%;
}

body .container .career-information .place {
  vertical-align: top;
  display: inline-block;
  width: auto;
  color: #676767;
  padding-bottom: 40px;
}

body .container .career-information .place .role {
  color: #a5a5a5;
}

body .container .career-information .place .degree {
  color: #a5a5a5;
}

body .container .career-information li {
  color: #676767;
}

body .container .career-information li p {
  color: #a5a5a5;
}

body .footer {
  background-color: #179498;
  width: 100%;
  height: 150px;
}

body .footer .footer-element {
  display: inline-block;
  margin: 60px 0px 0px 80px;
}

body .footer .footer-element .label {
  color: #ffff;
}

body .footer .footer-element .value {
  color: #78c4d4;
}
/*# sourceMappingURL=styles.css.map */