$primary-color: #ffff;
$secondary-color: #eeeeee;
$text-color: #1386ec;

* {
  margin: 0;
  padding: 0;
}

input {
  outline: none;
  border: none;
  font-size: 15px;
}

i {
  padding: 10px 10px 10px 10px;
}

.navigation-bar {
  height: auto;
  background-color: $text-color;
  padding: 15px 15px 15px 15px;

  .search-bar {
    display: inline-block;
    background-color: $primary-color;
    margin-left: 35%;
  }

  .fa-cog {
    margin-left: 34%;
  }

  span {
    font-size: 20px;
  }
}

.left-container {
  display: inline-block;
  vertical-align: top;
  width: 17%;
  background-color: $secondary-color;
  height: 690px;

  i {
    width: 10%;
  }

  ul {
    list-style-type: none;

    li {
      padding: 10px 10px 10px 10px;

      &:hover {
        background-color: $text-color;
        cursor: pointer;
      }
    }
  }

  .custom-categories {
    padding: 10px 10px 10px 10px;

    input {
      background-color: $secondary-color;
    }
  }
}

input[type="checkbox"] {
  &:checked {
    + {
      span {
        text-decoration: line-through;
      }
    }
  }

  margin-right: 10px;
}

.input {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  width: 100%;

  padding: 10px 0px 10px 10px;
}

.middle-container {
  display: inline-block;
  vertical-align: top;
  padding: 10px 10px 10px 10px;
  width: 80%;

  h3 {
    padding: 10px 10px 10px 0px;
    color: $text-color;
  }

  ul {
    list-style-type: none;
    line-height: 20px;

    li {
      padding: 10px 0px 10px 10px;
      border-bottom-style: solid;
      border-width: 1px;
      width: 100%;

      &:hover {
        background-color: $text-color;
        cursor: pointer;
      }

      span {
        display: inline-block;
      }

      i {
        float: right;
      }
    }
  }
}

.right-container {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  padding: 10px 10px 10px 10px;
  background-color: $secondary-color;
  width: 23.5%;
  height: 670px;
  display: none;

  h3 {
    color: $text-color;
    padding: 10px 10px 10px 0px;
  }

  ul {
    list-style-type: none;
    line-height: 20px;

    li {
      padding: 10px 0px 10px 10px;
      border-bottom-style: solid;
      border-width: 1px;
      width: 100%;
      background-color: white;
    }
  }

  i {
    width: 10%;
  }

  .extra-sub-tasks {
    margin-top: 20px;

    .extra-sub-task {
      display: block;
      width: 100%;
      background-color: white;
      margin: 10px 0px 10px 0px;
    }

    .reminder span {
      display: block;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      background-color: white;
    }
  }
}
