<div class="row">
    <span class="p-3">{{categoryName}}</span>

    <span>
        <i class="fas fa-plus p-2"></i>
        <input class="new-task" placeholder="Add Task" [(ngModel)]="taskName" (keyup.enter)="addTask()">
        <hr>
    </span>

    <div class="ul">
        <div class="li py-3 border-bottom" *ngFor="let task of tasks">
            <input type="checkbox" class="mx-2"/>
            <span (click)="showSubTasks(task.taskName)" class="px-2">{{task.taskName}}</span>
            <i class="far fa-star float-end"></i>
        </div>
    </div>
</div>